name: Deploy Comparison

on:
  push:
    branches: [ main, production ]
    paths:
       - 'content/comparison/**'
  pull_request:
    branches: [ main, production ]

  repository_dispatch:
    types: [staging-complete, production-complete]
    
  # Allows the workflow run manually from the Actions tab
  workflow_dispatch:
    inputs:
      environment:
        description: 'Target environment'
        required: true
        default: 'qa'
        type: choice
        options:
          - qa
          - prod
      deploy_scope:
        description: 'What to deploy'
        required: true
        default: 'index_pages_only'
        type: choice
        options:
          - pages_and_sitemap
          - index_pages_only
      deployment_target:
        description: 'Deployment target'
        required: true
        default: 's3'
        type: choice
        options:
          - s3
          - ceph

jobs:
  deploy_s3:
    if: github.event_name == 'workflow_dispatch' && inputs.deployment_target == 's3' || github.event_name != 'workflow_dispatch'
    uses: ./.github/workflows/deploy_product_s3.yml
    with:
      product_family: "comparison"
      default_deploy_scope: "index_pages_only"
      upload_images: true
      environment: ${{ inputs.environment }}
      deploy_scope: ${{ inputs.deploy_scope }}
    secrets: inherit

  deploy_ceph:
    if: github.event_name == 'workflow_dispatch' && inputs.deployment_target == 'ceph'
    uses: ./.github/workflows/deploy_product_ceph.yml
    with:
      product_family: "comparison"
      default_deploy_scope: "index_pages_only"
      upload_images: true
      environment: ${{ inputs.environment }}
      deploy_scope: ${{ inputs.deploy_scope }}
    secrets: inherit

